/* your custom css */
.homeContainer {
  background-color: #20232a;
  background-image: url(../img/canyon-hero.jpg);
  background-size: cover;
}
a,
a:hover {
  color: #4690df;
  border-color: #4690df;
  border-radius: 24px;
}
.button {
  border-radius: 24px;
  color: #4690df;
  border-color: #4690df;
}
.inner {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: border-color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.inner .button {
  border-radius: 24px;
  color: white;
  border-color: white;
  margin: 6px 4px;
  padding: 12px 20px;
}
.inner .button:hover {
  border-color: #4690df;
  background-color: #4690df;
  color: white;
  text-shadow: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.fixedHeaderContainer a,
.navigationSlider .slidingNav ul li a,
.slidingNav ul li.siteNavItemActive a {
  color: #555;
}

.toc .toggleNav ul li.navListItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  color: #4690df;
}

.navigationSlider .slidingNav ul li a:hover,
.toc .toggleNav ul li a:hover,
.button:hover {
  color: #4690df;
}

.navBreadcrumb h2 i {
  padding: 0 9px 0 3px;
}

.fixedHeaderContainer {
  border-bottom: 1px solid #e8e8e8;
}
.navWrapper {
  border-right: 1px solid #e8e8e8;
}

.projectTitle {
  text-align: center;
  color: white;
}
.promoSection {
  justify-content: center;
}
.container .wrapper .imageAlignSide p {
  text-align: left;
}

.onPageNav .toc-headings > li > a.active {
  color: #4690df;
}

@media only screen and (min-width: 480px) {
  .projectTitle {
    font-size: 400%;
  }
  .homeContainer {
    padding: 24px 0;
  }
}

@media only screen and (min-width: 735px) {
  .container.paddingTop {
    padding-top: 40px;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
  .edit-page-link {
    display: inline-block;
  }
  .docMainWrapper .wrapper {
    padding-top: 24px;
  }
  .navigationWrapper .algolia-docsearch-footer {
    padding-right: 6px;
  }
}
@media only screen and (max-width: 1024px) {
  .reactNavSearchWrapper .algolia-autocomplete input#search_input_react {
    padding-top: 2px;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* SEARCH ***********************************************/
.navigationWrapper .algolia-autocomplete {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.reactNavSearchWrapper .algolia-autocomplete input#search_input_react {
  background-color: white !important;
  color: #666 !important;
}

.navSearchWrapper:before {
  border: 2px solid rgba(0, 0, 0, 0.47) !important;
  width: 7px;
  height: 7px;
}
.navSearchWrapper:after {
  background: rgba(0, 0, 0, 0.47) !important;
  width: 2px;
  top: 56%;
}

.navigationWrapper .algolia-autocomplete .aa-dropdown-menu {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}

.navigationWrapper .algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  border: 1px solid #606060;
  color: #fff;
  background: #353942;
}

.navigationWrapper .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  background: #f1f1f1;
}

.navigationWrapper .algolia-autocomplete .algolia-docsearch-suggestion--title {
}

.navigationWrapper .algolia-autocomplete .algolia-docsearch-suggestion--text {
  color: #555;
}

.navigationWrapper .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: #4690df !important;
}

.navigationWrapper .algolia-docsearch-footer {
  border-top-color: #888;
  color: #666;
  padding-top: 8px;
  font-size: 10px;
}

.navigationWrapper .algolia-docsearch-footer a {
  font-size: 10px;
}
